<h1>Vprašaj</h1>
<form action="/questions" method="post">
    <input type="text" name="title" placeholder="Naslov" required=""><br>
    <textarea rows="15" cols="100" name="quest" placeholder="Vprašanje" required=""></textarea><br>
    <input type="text" name="tags" placeholder="tag, tag, tag"> <br>

    <input type="submit" value="Vprašaj"> <br>
    <p>{{error}}</p>
</form>
</form>
