body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainTitle {
  margin: auto;
  text-align: center;
  width: 50%;
  padding-bottom: 5%;
}

#can {
  /* background-color: grey; */
  /* width: 100%;
  height: auto; */
} 

#colorPicker {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 0%;
}

#canvasMain {
  width: 100%;
  margin: auto;
}

.btn {
  margin: 3px;
}