body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainTitle {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}

#can {
  /* background-color: grey; */
  width: 100%;
  height: auto;
} 

#colorPicker {
  width: 20px;
  height: 20px;
}

#canvasMain {
  width: 100%;
  margin: auto;
}